body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.logo {
  width: 156px;
}

.content {
  text-align: left;
  background-color: var(--color-bg-light);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 14px rgba(0,0,0,0.06), 0 2px 4px rgba(0,0,0,0.08);
}

.action-bar {
  padding: var(--gap-sm);
  background-color: var(--color-bg-muted);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}